In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df=pd.read_csv("df.csv")

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,f1,f4,f5,f6,f7,f8,f9,f10
0,0,0,2020-12-31 09:46:17.463002+00:00,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,0,True,0.0,0,c-2
1,1,1,2020-12-31 09:46:17.463002+00:00,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,0,True,32.0,1,c-2
2,2,2,2020-12-31 09:46:17.463002+00:00,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,0,True,32.0,1,c-4
3,3,3,2020-12-31 09:46:17.463002+00:00,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,0,True,32.0,2,c-4
4,4,4,2020-12-31 09:46:18.191119+00:00,2021-01-25 11:00:00+00:00,2021-01-25 12:55:00+00:00,1,False,20.0,0,b-69

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21776590 entries, 0 to 21776589
Data columns (total 10 columns):
 #   Column        Dtype
---  ------        -----
 0   Unnamed: 0    int64
 1   Unnamed: 0.1  int64
 2   f1            object
 3   f4            object
 4   f5            object
 5   f6            int64
 6   f7            bool
 7   f8            float64
 8   f9            int64
 9   f10           object
dtypes: bool(1), float64(1), int64(4), object(4)
memory usage: 1.5+ GB

In [37]:
df['f4']= slice(20)

In [38]:
df.head()

,Unnamed: 0,Unnamed: 0.1,f1,f4,f5,f6,f7,f8,f9,f10
0,0,0,1.0,"slice(None, 20, None)",2021-01-10 07:00:00+00:00,0,1,0.0,0,c-2
1,1,1,1.0,"slice(None, 20, None)",2021-01-10 07:00:00+00:00,0,1,32.0,1,c-2
2,2,2,1.0,"slice(None, 20, None)",2021-01-10 13:00:00+00:00,0,1,32.0,1,c-4
3,3,3,1.0,"slice(None, 20, None)",2021-01-10 13:00:00+00:00,0,1,32.0,2,c-4
4,4,4,0.0,"slice(None, 20, None)",2021-01-25 12:55:00+00:00,1,0,20.0,0,b-69

In [30]:
df.head()

,Unnamed: 0,Unnamed: 0.1,f1,f4,f5,f6,f7,f8,f9,f10
0,0,0,2020-12-31 09:46:17.463002+00:00,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,0,1,0.0,0,c-2
1,1,1,2020-12-31 09:46:17.463002+00:00,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,0,1,32.0,1,c-2
2,2,2,2020-12-31 09:46:17.463002+00:00,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,0,1,32.0,1,c-4
3,3,3,2020-12-31 09:46:17.463002+00:00,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,0,1,32.0,2,c-4
4,4,4,2020-12-31 09:46:18.191119+00:00,2021-01-25 11:00:00+00:00,2021-01-25 12:55:00+00:00,1,0,20.0,0,b-69

In [10]:
# del df['Unna
# med']
from datetime import datetime

In [44]:
df['f5'] = df['f5'].apply(lambda x: x[:19])

0           2021-01-10 07:00:00
1           2021-01-10 07:00:00
2           2021-01-10 13:00:00
3           2021-01-10 13:00:00
4           2021-01-25 12:55:00
                   ...
21776585    2021-09-03 12:00:00
21776586    2021-09-03 15:40:00
21776587    2021-09-03 06:40:00
21776588    2021-09-03 12:35:00
21776589    2021-09-03 19:05:00
Name: f5, Length: 21776590, dtype: object

In [52]:
df['f5']=pd.to_datetime(df['f5']).dt.strftime("%Y%m%d%H%M%S")

ParserError: Unknown string format: 20210101/10/21070100

In [51]:
df.head()

,Unnamed: 0,Unnamed: 0.1,f1,f4,f5,f6,f7,f8,f9,f10
0,0,0,1.0,"slice(None, 20, None)",20210101/10/21070100,0,1,0.0,0,c-2
1,1,1,1.0,"slice(None, 20, None)",20210101/10/21070100,0,1,32.0,1,c-2
2,2,2,1.0,"slice(None, 20, None)",20210101/10/21130100,0,1,32.0,1,c-4
3,3,3,1.0,"slice(None, 20, None)",20210101/10/21130100,0,1,32.0,2,c-4
4,4,4,0.0,"slice(None, 20, None)",20210101/25/21120100,1,0,20.0,0,b-69

In [50]:
# df['f5']=df['f5'].astype(int)

ValueError: invalid literal for int() with base 10: '20210101/10/21070100'