# Ticket price prediction with multiple polynomial regration ...

In [1]:
# import numpy package for arrays and stuff
import numpy as np 
  
# import matplotlib.pyplot for plotting our result
import matplotlib.pyplot as plt
  
# import pandas for importing csv files 
import pandas as pd
from sklearn.model_selection import train_test_split

## Pre process the data and formed new data set 
### 1) --in pre processing we had removed the source and destination column because the source and destionaltion are same for all datasets 
### 2)-- now in the guven dataset we were having the date and time columns of data type date and column now i had cinverted it to integer 
### 3)-- we were having the airline numbers as (alpha,beta,gamma,omega),converted those values to int respectively (2,1,0,3)
### 4) next column we were having of refundable Ticket of type bool we changed it to integer 
### 5) one column of airine also we were having no of airlines..we changed it to integer as 1,2,3,4,5.... 
### 6) after doing this i had to normalize the data.
### after doing all those steps i got new data set as finaltrain.csv now i will import this data set  and perform the operations in this dataset only

In [2]:
# import dataset
dataset = pd.read_csv('finaltrain.csv') 
# alternatively open up .csv file to read data
# print the dataset
dataset.head()

,Unnamed: 0,tic_date,dep_date,arr_date,airline,refund,bag_wt,bag_price,Flighi_no,Ticket_price
0,0,0.577181,0.577435,0.577435,0.000000e+00,2.857158e-14,0.000000e+00,0.000000e+00,5.714316e-14,2.114297e-10
1,1,0.577181,0.577435,0.577435,0.000000e+00,2.857158e-14,9.142906e-13,2.857158e-14,5.714316e-14,2.471442e-10
2,2,0.577181,0.577435,0.577435,0.000000e+00,2.857158e-14,9.142906e-13,2.857158e-14,2.857158e-14,2.614300e-10
3,3,0.577181,0.577435,0.577435,0.000000e+00,2.857158e-14,9.142906e-13,5.714316e-14,2.857158e-14,2.971445e-10
4,4,0.577181,0.577435,0.577435,2.857157e-14,0.000000e+00,5.714314e-13,0.000000e+00,3.142872e-13,2.484869e-10

In [3]:
# in this we got one column of unnamed therefore we have to drop that column  
dataset.drop("Unnamed: 0",axis=1,inplace=True)

In [4]:
dataset.head()

,tic_date,dep_date,arr_date,airline,refund,bag_wt,bag_price,Flighi_no,Ticket_price
0,0.577181,0.577435,0.577435,0.000000e+00,2.857158e-14,0.000000e+00,0.000000e+00,5.714316e-14,2.114297e-10
1,0.577181,0.577435,0.577435,0.000000e+00,2.857158e-14,9.142906e-13,2.857158e-14,5.714316e-14,2.471442e-10
2,0.577181,0.577435,0.577435,0.000000e+00,2.857158e-14,9.142906e-13,2.857158e-14,2.857158e-14,2.614300e-10
3,0.577181,0.577435,0.577435,0.000000e+00,2.857158e-14,9.142906e-13,5.714316e-14,2.857158e-14,2.971445e-10
4,0.577181,0.577435,0.577435,2.857157e-14,0.000000e+00,5.714314e-13,0.000000e+00,3.142872e-13,2.484869e-10

In [5]:
# assigning the feature vector to x and target vector to y 
x= dataset.iloc[:, 0:8].values
y=dataset.iloc[:,8].values

In [6]:
# cheking the allocation of x and y 
x[0]

array([5.77181133e-01, 5.77434819e-01, 5.77434819e-01, 0.00000000e+00,
       2.85715821e-14, 0.00000000e+00, 0.00000000e+00, 5.71431642e-14])

In [7]:
y[0]

2.1142970754158496e-10

In [9]:
# spliting the data into train and test as 80% train and 20% test data 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 20)

In [10]:
# fitting the model in polynomial regration with degree 2
from sklearn.linear_model import LinearRegression  
lin_regs= LinearRegression()  
lin_regs.fit(x_train,y_train)

LinearRegression()

In [16]:
#Fitting the Polynomial regression to the dataset 
from sklearn.preprocessing import PolynomialFeatures  
poly_regs= PolynomialFeatures(degree= 4)  
x_poly= poly_regs.fit_transform(x_train)  
lin_reg_2 =LinearRegression()  
lin_reg_2.fit(x_poly, y_train)

MemoryError: Unable to allocate 36.7 GiB for an array with shape (9937678, 495) and data type float64

In [ ]:
# predicted output for polynomial regration 
yp_pred = lin_reg_2.predict(poly_regs.fit_transform(x_test))  
print(yp_pred)

[2.80124368e-10 2.67391442e-10 2.87400326e-10 ... 2.92857294e-10
 2.85581336e-10 2.67391442e-10]

In [17]:
# importing r2_score module and mean sqared error
# predicting the accuracy score

from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [18]:
scorep=r2_score(y_test,yp_pred)
print("R2 score for the model :-",scorep)
mse=mean_squared_error(y_test,yp_pred)
rmsel=np.sqrt(mean_squared_error(y_test,yp_pred))
print("root_mean_squared error of model is:=",rmsel)

R2 score for the model :- 0.06783362035008877
root_mean_squared error of model is:= 6.519559992947652e-11