In [1]:
import numpy as nm  
import matplotlib.pyplot as mtp  
import pandas as pd

In [2]:
scaled_df=pd.read_csv("normalizeddataset.csv")

In [3]:
scaled_df.head()

,Unnamed: 0,tic_date,dep_date,arr_date,airline,refund,bag_wt,bag_price,Flighi_no,Ticket_price
0,0,0.577181,0.577435,0.577435,0.000000e+00,2.857158e-14,0.000000e+00,0.000000e+00,5.714316e-14,2.114297e-10
1,1,0.577181,0.577435,0.577435,0.000000e+00,2.857158e-14,9.142906e-13,2.857158e-14,5.714316e-14,2.471442e-10
2,2,0.577181,0.577435,0.577435,0.000000e+00,2.857158e-14,9.142906e-13,2.857158e-14,2.857158e-14,2.614300e-10
3,3,0.577181,0.577435,0.577435,0.000000e+00,2.857158e-14,9.142906e-13,5.714316e-14,2.857158e-14,2.971445e-10
4,4,0.577181,0.577435,0.577435,2.857157e-14,0.000000e+00,5.714314e-13,0.000000e+00,3.142872e-13,2.484869e-10

In [4]:
x= scaled_df.iloc[:, 0:8].values
y=scaled_df.iloc[:,8].values

In [13]:
y[0]

5.714316420042837e-14

In [5]:
#Fitting the Linear Regression to the dataset
from sklearn.linear_model import LinearRegression  
lin_regs= LinearRegression()  
lin_regs.fit(x,y)

LinearRegression()

In [6]:
#Fitting the Polynomial regression to the dataset 
from sklearn.preprocessing import PolynomialFeatures  
poly_regs= PolynomialFeatures(degree= 2)  
x_poly= poly_regs.fit_transform(x)  
lin_reg_2 =LinearRegression()  
lin_reg_2.fit(x_poly, y)

LinearRegression()

In [9]:
scaled_df.head()

,Unnamed: 0,tic_date,dep_date,arr_date,airline,refund,bag_wt,bag_price,Flighi_no,Ticket_price
0,0,0.577181,0.577435,0.577435,0.000000e+00,2.857158e-14,0.000000e+00,0.000000e+00,5.714316e-14,2.114297e-10
1,1,0.577181,0.577435,0.577435,0.000000e+00,2.857158e-14,9.142906e-13,2.857158e-14,5.714316e-14,2.471442e-10
2,2,0.577181,0.577435,0.577435,0.000000e+00,2.857158e-14,9.142906e-13,2.857158e-14,2.857158e-14,2.614300e-10
3,3,0.577181,0.577435,0.577435,0.000000e+00,2.857158e-14,9.142906e-13,5.714316e-14,2.857158e-14,2.971445e-10
4,4,0.577181,0.577435,0.577435,2.857157e-14,0.000000e+00,5.714314e-13,0.000000e+00,3.142872e-13,2.484869e-10

In [10]:
tup=[0.577181,	0.577435,	0.577435,	0.000000e+00,	2.857158e-14,	0.000000e+00,	0.000000e+00,	5.714316e-14]
lin_pred = lin_regs.predict([tup])  
print(lin_pred)

[-3.53020992e-11]

In [11]:
poly_pred = lin_reg_2.predict(poly_regs.fit_transform([tup]))  
print(poly_pred)

[1.58466493e-13]