In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df=pd.read_csv("final_dataframe.csv")

In [3]:
df.head()

,Unnamed: 0,f1,f4,f5,f6,f7,f8,f9,f10,target
0,0,20201231094617,20210110050000,20210110070000,0,1,0.0,0,2,7400.0
1,1,20201231094617,20210110050000,20210110070000,0,1,32.0,1,2,8650.0
2,2,20201231094617,20210110110000,20210110130000,0,1,32.0,1,1,9150.0
3,3,20201231094617,20210110110000,20210110130000,0,1,32.0,2,1,10400.0
4,4,20201231094618,20210125110000,20210125125500,1,0,20.0,0,11,8697.0

In [5]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [7]:
df.head()

,f1,f4,f5,f6,f7,f8,f9,f10,target
0,20201231094617,20210110050000,20210110070000,0,1,0.0,0,2,7400.0
1,20201231094617,20210110050000,20210110070000,0,1,32.0,1,2,8650.0
2,20201231094617,20210110110000,20210110130000,0,1,32.0,1,1,9150.0
3,20201231094617,20210110110000,20210110130000,0,1,32.0,2,1,10400.0
4,20201231094618,20210125110000,20210125125500,1,0,20.0,0,11,8697.0

In [18]:
x=df.iloc[:,0:8].values

In [19]:
x[0]

array([2.02012311e+13, 2.02101100e+13, 2.02101101e+13, 0.00000000e+00,
       1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.00000000e+00])

In [15]:
y=df.iloc[:,8].values

In [24]:
y[0]

7400.0

In [20]:
#Fitting the Linear Regression to the dataset
from sklearn.linear_model import LinearRegression  
lin_regs= LinearRegression()  
lin_regs.fit(x,y)

LinearRegression()

In [28]:
y_pred=lin_regs.predict(x)

In [29]:
print(y_pred)

[ 1506.23017486  4776.16602211  4753.67085668 ... 10162.72136451
 10140.22635406 10117.73146016]

In [33]:
y[0]

7400.0

In [34]:
y_pred[0]

1506.2301748599857